h1 {
    font-family: 'Verdana', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
flex: 1;
    background: url('../../media/1661450325_76-kartinkin-net-p-fon-krasno-zheltii-gradient-krasivo-79.jpg') top 30% center no-repeat;
    background-size: cover;
}

.bg-light{
    background: transparent !important;
}

.navbar.bg-body-tertiary {
background-color: #000000 !important;
}